/*.wrapper {*/
/*    display: grid;*/
/*    grid-template-columns: 2fr repeat(2, 1fr);*/
/*}*/

/*暗黙的なグリッド定義のサイズ確認*/
/*.four {*/
/*    height: 500px;*/
/*}*/


/*暗黙的と明示的なグリッド*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
}